body{
  margin:0;
  padding:0;
  height:100%;
}
p{
  font-family: serif;'cursive';
  line-height: 0.3px;
}
/* background settings */
.wrapper{
  margin:0;
  padding:0;
  height:auto;
  background:url(../img/ignasi_pattern_s.png);
}

/* style title */
.title{
  text-align: center;
  background-color: #ddd;
  color:#800000;
}

/* align image position*/
.responsive-image{
  padding-top: 15%;
  text-align: center;
}

/* make image circular*/
.img-circle{
  /*border-radius: 50%;*/
  background-position: center center;
  width: 400px;
  height: 400px;
}

/* define Tabs */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-image: url();
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #800000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: rgba(76, 175, 80);
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
